<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{pagetitle}}</title>
		<link rel="stylesheet" href="css/custom.css">
		<link rel="stylesheet" href="css/bootstrap-3.3.7.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>{{pageheading}} <small>searching {{hostname|safe}}</small></h1>
			<form class="form-inline" method="get">
				<div class="form-group">
					{% for database in databaselist.keys() %}
					<div class="checkbox">
							<label for="{{database}}">
								<input type="hidden" name="{{database}}_unchecked" id="{{database}}_unchecked" value="0" disabled/>
								<input type="checkbox" name="{{database}}" id="{{database}}" onclick="rmUncheck(this)" checked> {{databaselist[database]['label']}}
							</label>
					</div>
					{% endfor %}
				</div>
				<br>
				<div class="form-group">
					<label class="requiredField" for="searchbox">Query: </label>
					<input type="text" class="form-control" id="searchbox" name="searchbox" placeholder="text">
				</div>
				<div class="checkbox">
					<label for="caseSensitive">
						<input type="hidden" name="caseSensitive_unchecked" id="caseSensitive_unchecked" value="1" />
						<input type="checkbox" name="caseSensitive" id="caseSensitive" onclick="rmUncheck(this)"> Case Sensitive
					</label>
				</div>
        <div class="checkbox" style="padding-right:10px">
        	<label for="basename">
						<input type="hidden" name="basename_unchecked" id="basename_unchecked" value="1" />
						<input type="checkbox" name="basename" id="basename" onclick="rmUncheck(this)"> Match only the base name
        	</label>
				</div>
		  	<br>
		  	<br>
		  	<div class="form-group">
		          <label for="filterbox">Exclude: </label>
		          <input type="text" class="form-control" id="excludebox" name="excludebox" placeholder="Exclude Text">
		  		</div>
		  	<div class="form-group">
		          <label for="filterbox">Include: </label>
		          <input type="text" class="form-control" id="includebox" name="includebox" placeholder="Include Text">
		  	</div>
				<button type="submit" class="btn btn-default">Go</button>
			</form>
			<br>
      {% if results_truncated %}<b>WARNING: results truncated</b> (more than MAX_RESULT_BYTES bytes returned by mlocate)<br><br>{% endif %}
			<div>
				{{resultslist|safe}}
			</div>
		</div>
	</body>
<script>
$(function() {
   $('.allowCopy').click(function() {
     $(this).focus();
     $(this).select();
     document.execCommand('copy');
   });
});

function rmUncheck(element){
	element.previousElementSibling.value=1-element.previousElementSibling.value
  if(element.previousElementSibling.value==0){
  	element.previousElementSibling.disabled = true;
  } else {
  	element.previousElementSibling.disabled = false;
  }
}

$(document).ready ( function(){
	var url_string = window.location.href;
	var url = new URL(url_string);
	var params = new URLSearchParams(url.search);

	for (const [key, value] of params) {

		console.log(key + " - " + value)
		var element = document.getElementById(key);

		if(key.includes("_unchecked")){

			element.value = "1";
			element.disabled = false;
			document.getElementById(key.replace("_unchecked","")).checked = false;

		} else if(element.getAttribute("type") == "checkbox"){

			document.getElementById(key+"_unchecked").value = "0";
			document.getElementById(key+"_unchecked").disabled = true;
			element.checked = true;

		} else if(element.getAttribute("type") == "text"){

			document.getElementById(key).value = decodeURIComponent(value).replace(/\+/g, "%20");
		}
	}
});
</script>

</html>
